<form>
    <div class="row" style="margin-bottom: 20px;" ng-show="activeFunction.id == 1">
        <div class="col-lg-8">
            <p class="cover-heading" style="float: left">
                Введите Y:
            </p>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">Y:</span>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 20px;" ng-hide="activeFunction.id == 3">
        <div class="col-lg-8">
            <p class="cover-heading" style="float: left">
                Введите N:
            </p>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">N:</span>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-8">
            <p class="cover-heading" style="float: left">
                Введите T:
            </p>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">T:</span>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 20px;" ng-hide="activeFunction.id == 1">
        <div class="col-lg-8">
            <p class="cover-heading" style="float: left">
                Введите K:
            </p>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">K:</span>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</form>