<form>
    <div class="row" style="margin-bottom: 20px;" ng-show="activeFunction.id == 1">
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">Min(Y):</span>
                <input type="text" class="form-control" title="Минимальное значение Y">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">Max(Y):</span>
                <input type="text" class="form-control" title="Максильманое значение Y">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">Шаг:</span>
                <input type="text" class="form-control" title="Шаг">
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 20px;" ng-hide="activeFunction.id == 3">
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">Min(N):</span>
                <input type="text" class="form-control" title="Минимальное значение N">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">Max(N):</span>
                <input type="text" class="form-control" title="Максильманое значение N">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">Шаг:</span>
                <input type="text" class="form-control"title="Шаг">
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">Min(T):</span>
                <input type="text" class="form-control" title="Минимальное значение T">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">Max(T):</span>
                <input type="text" class="form-control" title="Максильманое значение T">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">Шаг:</span>
                <input type="text" class="form-control" title="Шаг">
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 20px;" ng-hide="activeFunction.id == 1">
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">Min(K):</span>
                <input type="text" class="form-control" title="Минимальное значение K">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">Max(Y):</span>
                <input type="text" class="form-control" title="Максильманое значение K">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">Шаг:</span>
                <input type="text" class="form-control" title="Шаг">
            </div>
        </div>
    </div>
</form>